body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    --pink-500: hsl(270, 60%, 52%);

    --bg: hsl(250, 24%, 9%);
    --bg-secondary: hsl(250, 21%, 11%);
    --border: hsl(248, 21%, 13%);
    --fg: hsl(0, 0%, 100%);
    --gray: #aaa;
    @media (prefers-color-scheme: light) {
        --bg: hsl(0, 0%, 100%);
        --bg-secondary: hsl(0, 0%, 98%);
        --border: hsl(2, 0%, 96%);
        --fg: hsl(250, 24%, 9%);
        --gray: #555;
    }
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    background-color: var(--bg);
    color: var(--fg);
}

main,
footer {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1.heading,
.center {
    display: block;
    text-align: center;
}

a {
    color: var(--fg);
}

a:hover {
    color: var(--pink-500);
}

button {
    transition-property: all;
    transition-duration: 0.2s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border: none;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
    background-color: var(--pink-500);
    border-color: var(--pink-500);
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    height: 42px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 16px;
    line-height: 1.5rem;
}

button:hover {
    background-color: var(--pink-500);
}

button:active {
    transform: scale(0.95);
}

input {
    border: 1px solid var(--border);
    background-color: var(--bg-secondary);
    color: inherit;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    line-height: 1.5rem;
    display: block;
    align-self: stretch;
}

form {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

div.flex-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
    }
}

pre,
:not(pre) > code,
div.card {
    border: 1px solid var(--border);
    background-color: var(--bg-secondary);
    border-radius: 0.375rem;
}

h2 {
    margin: 0;
}
div.card {
    padding: 20px;
}

pre,
pre > code {
    padding: 0;
    margin: 0;
    border: none;
}

pre:not(.shiki):not(:has(.shiki)),
pre > code > pre {
    padding: 10px;
    border: 1px solid var(--border);
}

:not(pre) > code {
    padding-left: 5px;
    padding-right: 5px;
}

.recipe-meta {
    display: grid;
    width: min-content;
    white-space: pre;
    grid-template-columns: auto auto;
    gap: 10px;
    * {
        display: block;
        margin: 0;
    }
    b {
        color: var(--gray);
    }
}

hr {
    align-self: stretch;
    width: 100%;
    border-color: var(--gray);
    border-width: 0.5px;
}

footer,
footer a {
    color: var(--gray);
}

footer {
    margin-top: 1em;
}

pre {
    overflow-x: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#recipes > div.card {
    flex: 1;
}
