<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/app.css" />
        <script async defer src="/assets/app.bundle.js" type="module"></script>
        <meta property="og:title" content="Railpack Cookbook" />
        <meta
            property="og:description"
            content="Find inspiration for your Railpack build configurations"
        />
        <title>{% block title %}{% endblock title %} | Railpack Cookbook</title>
    </head>
    <body>
        {% block page %}{% endblock page %}
        <footer>
            <hr />
            <p>
                &copy; 2025 Aleks Rutins &mdash;
                <a href="//git.sr.ht/~aleksrutins/railpacked">source</a>
            </p>
            <p>
                All configuration examples listed on this site are released to
                the public domain under CC0. The site itself is licensed under
                the MIT license.
            </p>
        </footer>
    </body>
</html>
