<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/app.css" />
        <title>{{title}} | Railpack Cookbook</title>
    </head>
    <body>
        <slot></slot>
        <footer>
            <hr />
            <p>
                &copy; 2025 Aleks Rutins &mdash;
                <a href="//git.sr.ht/~aleksrutins/railpacked">source</a>
            </p>
        </footer>
    </body>
</html>
